.iconRedSocial{
    background-color: ;
    padding: 20px;
    display: flex;
    justify-content: center;
    ul{
        li{
            a{
                color: white;
            }
        }
    }
}