*{
margin: 0;
padding: 0;
box-sizing:border-box;
text-decoration: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
  width: 100%;
  top:0;
  left: 0;
  background: white;
}

.header__superior{
  max-width: 1200px;
  margin: auto;
  display: grid;
  align-items: center;
  padding: 20px;
}

.logo img{
  display: flex;
  margin-top: 5px;
  height: 100px;
  width: 100px;
}
/*BARRA DE MENU*/
.container__menu{
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 120px;
    background-color: #7c8569;
    padding: 20px;
  }

.menu {
  max-width: 1200px;
  height: 100%;
  margin:auto;
}

nav > ul{
  height: 100%;
  display: flex;
}

nav ul li{
  height: 100%;
  list-style: none;
  position: relative;
}


nav > ul > li > a{
  height: 100%;
  width: 100%;
  display: flex;
  color:white;
  align-items: center;
  padding: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav > ul > li > a:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: #52493a;
  color:#de733e;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0,5);
}

/*SUB MENU*/
nav ul li ul{
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #7c8569;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  z-index: 10;
  transition: all 300ms ease;
}

nav ul li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 70px;
}

nav ul li ul li a{
  display: block;
  color: #ffffff;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover{
  background: #52493a;
  color: #de733e;
  transform: scale(1.2);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*aca deberian ver las imagenes  que pasan*/
.carrusel{
  display: flex;
  align-items: center;
  background-color:#52493a;
  max-width: 1000px;
  height: 450px;
  margin: auto;
}
section{
  display: flex;
justify-content: space-evenly;
  margin-top: 10px;
  background-color: #e8e0ae;
  padding: 10px;
}

.descripsion-noticias{
  display: flex;
  flex-direction: column;
  text-align: justify;
  background-color: #e8e0ae;
  margin-left: 25px;
  margin-right: 25px;
}

video {
  display: flex;
  width: 700px;
  height: 400px;
  margin-top: 130px;

}

/*FORMULARIO DE CONTACTO EN PAGE INFORMACION*/
.container {
display: flex;
flex-direction: column;
align-items: center;
}

.container__input:not(:placeholder-shown) + .container__label {
  background: #fff;
  transform: translate(0, -50%);
  opacity: 1;
}

.container__input{
  margin-top: 12px;
  padding: 8px;
}

.container__label{
  margin-top: 10px;

}
.container__label {
  /* Position the label */
  left: 20px;
  position:relative;
  /*top: 0;*/
  /* Hide it by default */
  opacity: 0;
  transition: all 200ms;
}
.boton{
  padding: 8px;
  margin-top: 10px;
  margin-left: auto;
}

 footer{
  display: flex;
  background-color: #52493a;
  font-size: 15px;
  color:white;
  width: 100%;
  height: 70px;

 }

 .iconRedSocial{
  justify-content: space-between;
  align-items: center;
 }